table.summary {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 50%;
  display: inline-table;
  margin: 0% 10%;
}

tr, th {
  text-align: left;
  font-size: 14px;
  height: 30px;
}

td { border-top: solid 1px rgb(221, 221, 221); }

form {
  display: inline-table;
  width: 15%;
  /*position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  width: 500px;*/
}

.dragfile {
  border: 4px dashed #000;
  height: 200px;
  margin: 5px;
}

.dragfile > input:nth-child(1){
  position: absolute;
  margin: 0;
  padding: 0;
  width: 15%;
  height: 200px;
  outline: none;
  opacity: 0;
}

.params {
  width: 90%;
  margin: 5px;
}

form p {
  width: 100%;
  height: 100%;
  margin-top: 80px;
  text-align: center;
  color: #000;
  font-family: Arial;
}

form button {
  margin: 0;
  color: #fff;
  background: #16a085;
  border: none;
  width: 100%;
  margin: 5px;
  height: 35px;
  border-radius: 4px;
  border-bottom: 4px solid #117A60;
}

h3.upload-header {
  font-size: 14px;
  margin-bottom: 6px;
}

input { width: 200px; }

a.nav {
  float: right;
  margin: 20px 150px 0 0;
}

.error {
  text-align: center;
  color: red;
}

.graph {
  min-width: 310px;
  height: 400px;
  margin: 0 auto;
}
